body{
    background-color: black;
}
h1{
    text-transform:uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.poster{
    width:80%;
    margin-left: 10%;
    margin-top: 100px;
    color:antiquewhite;
    font-family: cursive;
    text-align: center;
}
.motivation-img
{
    width:100%;
    padding: 2px;
    border: 2.5px solid pink;
}
