body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 2rem;
}
.poster
{
    font-family: "Libre Baskerville", cursive;
    color:white;
    margin-left: 25%;
    text-align: center;
    width: 50%;
    margin-top: 100px;
}
.motivation-img {
  border: 5px solid white;
  width: 100%;
}
