.gradient {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      height: 100vh;
      color: auto;
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .feature-icon {
      width: 4rem;
      height: 4rem;
      border-radius: 0.75rem;
    }
   
    /* #mess-grid
    {
      display:grid;
      grid-template-columns: 4fr 8fr;
      grid-template-rows: 1fr 3fr;
    }
    /* .bdd */
    /* {
      border: 2px solid black;
    } */
    /* .item-a
    {
      grid-column-start: 1 ;
      grid-column-end: 3 ;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .item-b
    {
      grid-column-start: 1 ;
      grid-column-end: 2 ;
      grid-row-start: 2;
      grid-row-end: 3;
      align-self: center;
    }
    .item-c
    {
grid-column-start: 2 ;
      grid-column-end: 3 ;
      grid-row-start: 2;
      grid-row-end: 3;

    } */ */